<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Fun!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mars Facts and Images</h1>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Update Page</a></p>
        </div>
          
        <!-- mars data -->
        <div class="row mars-news">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Latest Mars News</h3>
              </div>
              <div class="panel-body">
                <h4>{{ mars_data.latest_news_title }}</h4>
                <p>{{ mars_data.latest_news_article_p }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-md-offset-2 weather-report" style="">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Mars Weather Report</h3>
              </div>
              <div class="panel-body">
                <p>{{ mars_data.weather_tweet }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Featured Mars Image</h3>
              </div>
              <div class="panel-body">
                <img src={{ mars_data.featured_img }} class="img-responsive">
              </div>
            </div>
          </div>
          <div class="col-md-2 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Mars Facts</h3>
              </div>
              <div class="panel-body">
                  {% autoescape false %}
                  {{ mars_data.html_table }}
                  {% endautoescape %}
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="panel panel-default">
          <div class="panel-heading">
              <h1 class="panel-title">Mars Hemispheres Pictures</h1>
            </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6" style="padding-right: 0px;">
                <h3 style="text-align: center">{{ mars_data.hemisphere_imgs[0]['title'] }}</h3>
                <img src={{ mars_data.hemisphere_imgs[0]['img_url']}} class="img-responsive">
              </div>
              <div class="col-md-6" style="padding-left: 0px;">
                <h3 style="text-align: center">{{ mars_data.hemisphere_imgs[1]['title'] }}</h3>
                <img src={{ mars_data.hemisphere_imgs[1]['img_url']}} class="img-responsive">
              </div>
            </div>
            <div class="row">
              <div class="col-md-6" style="padding-right: 0px;">
                <h3 style="text-align: center">{{ mars_data.hemisphere_imgs[2]['title'] }}</h3>
                <img src={{ mars_data.hemisphere_imgs[2]['img_url']}} class="img-responsive">
              </div>
              <div class="col-md-6" style="padding-left: 0px;">
                <h3 style="text-align: center">{{ mars_data.hemisphere_imgs[3]['title'] }}</h3>
                <img src={{ mars_data.hemisphere_imgs[3]['img_url']}} class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

